@font-face {
  font-family: 'Roboto';
  src: url("/assets/fonts/roboto.woff2");
}
:root {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
.css-1wc848c-MuiFormHelperText-root,
.css-sfsn31-MuiButtonBase-root-MuiCheckbox-root {
  color: #fff !important;
}
a:hover {
  color: #535bf2;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.contenedor {
  height: 100vh;
  position: relative;
}
.contenedor__form {
  -webkit-box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.37);
  background-color: #0000005e;
  position: relative;
  top: 3rem;
  bottom: 7rem;
  left: 0;
  right: 0;
  padding: 1rem;
  margin: 0 1rem;
}

.contenedor__form > form > h1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
input, select, .css-1v4ccyo, .css-1636szt, .css-v7esy, .css-vnwgms {
  color: #ffffff !important;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  color: #ffffff !important;
}
input:valid + fieldset,
.css-igs3ac {
 border-color: rgb(21, 255, 0) !important;
 border-width: 2px;
}
input:invalid+fieldset,
.css-igs3ac {
  border-color: rgb(255, 0, 0) !important;
  border-width: 2px;
}
input:valid:focus+fieldset,
.css-igs3ac{
  border-color: rgb(255, 255, 255) !important;
  border-left-width: 6px;
  padding: 4px;
}

label,
#demo-helper-text-aligned-helper-text {
  color: #ffffff !important;
}
.img {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.img > img {
  width: 15%;
}
@media (max-width: 370px) {
    .img {
      top: 1rem;
    }
    .img>img {
      width: 20%;
    }
    .contenedor__form {
      top: 3rem;
      bottom: 1rem;
      left: 0;
      right: 0;
      padding: .5rem;
      margin: 0 .5rem;
    }
}
@media (min-width: 1000px) and (max-width: 1400px) {
    .contenedor__form {
      top: 5rem;
      bottom: 5rem;
      padding: 3rem;
    }
}
@media (min-width: 1401px) {
  .img {
      margin: auto;
      top: 5rem;
    }
  .img>img {
      width: 10%;
    }
  .contenedor__form {
    top: 12rem;
    bottom: 5rem;
    padding: 3rem;
  }
}
